# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
VTOL_MW.uvguix.HASEE
*.dep
*.crf
*.crf
/Objects/*
/RTE/*
VTOL_MW.uvguix.HASEE
*.crf
DebugConfig/Target_1_STM32F103C8_1.0.0.dbgconf
Listings/startup_stm32f10x_md.lst
RTE/_Target_1/RTE_Components.h
VTOL_MW.uvoptx
